################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/spring/v16
/VisualGDB/Debug/_1_/daisyexamples/libDaisy/core
/VisualGDB/Debug
/.visualgdb/CodeDB/spring-Debug-VisualGDB/GlobalCache
/.visualgdb/CodeDB/spring-Debug-VisualGDB
/.visualgdb/VisualGDBCache/spring-Debug/MemoryUtilizationReport.xml
